# Archivos de Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs y bases de datos
*.log
*.sql
*.sqlite
*.sqlite3
*.db

# Archivos de entorno
.env
.venv
env/
venv/
ENV/

# Archivos de VSCode
.vscode/
*.code-workspace
.history/

# Archivos de PyCharm
.idea/
*.iml
*.iws
*.ipr

# Archivos de Docker
docker-compose.override.yml
docker-data/

# Archivos específicos de Odoo
odoo-web-data/
odoo-db-data/
.odoorc
*.pid

# Archivos temporales
*.swp
*.swo
*~
.DS_Store
.directory
Thumbs.db